<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Keyworks</title>

    <!-- Bootstrap-->
        <link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Common Plugins CSS -->
    <link href="~/assets/css/plugins/plugins.css" rel="stylesheet">

    <!--fonts-->
    <link href="~/assets/lib/line-icons/line-icons.css" rel="stylesheet">
    <link href="~/assets/lib/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">

    <!--style-->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!--data tables-->
    <link href="~/assets/lib/data-tables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/lib/data-tables/responsive.bootstrap4.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <!-- Common plugins -->
    <script type="text/javascript" src="~/assets/js/plugins/plugins.js"></script> 
    <script type="text/javascript" src="~/assets/js/appUi-custom.js"></script> 

    <!-- Required datatable js -->
    <script type="text/javascript" src="~/assets/lib/data-tables/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" src="~/assets/lib/data-tables/dataTables.bootstrap4.min.js"></script> 
    <script type="text/javascript" src="~/assets/lib/data-tables/dataTables.responsive.min.js"></script> 
    <script type="text/javascript" src="~/assets/lib/data-tables/responsive.bootstrap4.min.js"></script> 
    <script src="~/assets/js/plugins-custom/datatables-custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
